#albumArt {
  justify-content: center;
  margin-top: 2em;
  display: initial !important;
}

ion-header {
  -webkit-app-region: drag;
}

#extraContent p {
  margin-top: 2em;
  width: 80%;
}

#albumArt img {
  height: 14em;
  width: 14em;
  border-radius: 5px;
  animation-name: fadein;
  animation-duration: 400ms;
  margin-right: 10px;
}

#shareButton {
  width: 27%;
}

#podActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

#fakeImg {
  height: 14em;
  width: 14em;
  background: grey;
  border-radius: 5px;
  margin-right: 10px;
}

#podcastExtra {
  display: flex;
  justify-content: start;
  margin-top: 12px;
  margin-bottom: 5px;
}

#podcastExtra h3#explicit {
  color: var(--ion-color-danger);
  margin-left: 1em;
}

#podcastExtra h3 {
  color: lightgrey;
}

ion-list ion-item ion-label h2 {
  font-weight: bold !important;
}

#header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#header #headerContent {
  display: flex;
  width: initial;
  flex-direction: column;
}

h1 {
  margin: 0;
}

#realH1 {
  animation-name: fadein;
  animation-duration: 400ms;
  width: 10em;
}

#by {
  margin-top: 4px;
  margin-bottom: 0;
}

#actions {
  margin-top: 4em;
  display: flex;
  align-items: center;
}

#devicesDiv {
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: slidein;
  animation-duration: 280ms;
  background: #1e2429;
  z-index: 9999;
}

#devicesDiv ul {
  list-style: none;
  padding: 0;
}

#devicesDiv ul li {
  border-radius: 12px;
  padding: 5px;
  padding-left: 10px;
  margin: 10px;
  font-size: 15px;
  border: 1px solid white;
}

#closeButton {
  background: none;
  border: none;
  font-weight: bold;
  position: absolute;
  right: 15px;
  color: white;
}

#actions button#windowsButton {
  margin-top: 2em;
  color: royalblue !important;
}

#windowsActionsBlock {
  margin-top: 2em;
}

#graphButton {
  margin-top: 10px;
}

@media(max-width: 380px) {
  #albumArt img {
    height: 6em;
    width: 6em;
  }

  #fakeImg {
    height: 6em;
    width: 6em;
  }
}

@media(min-width: 1200px) {
  #wrapperDiv {
    margin-left: 15em;
    padding-left: 14em;
    padding-right: 14em;
    margin-top: 4em;
  }
}

@media(max-width: 1200px) {
  header {
    flex-direction: column;
  }

  #headerContent {
    flex-direction: column;
    width: initial;
  }

  #albumArt {
    display: initial !important;
  }

  #albumArt img {
    height: 14em;
    width: 14em;
  }

  #fakeImg {
    height: 14em;
    width: 14em;
  }

  #headerTrackDetail {
    margin-left: initial !important;
    margin-top: 1em !important;
  }

  #headerTrackDetail h1 {
    width: 12em;
  }

  #actions {
    margin-top: 1em !important;
  }
}

#headerTrackDetail {
  padding-right: 8em;
  margin-left: initial !important;
  margin-top: 1em !important;
}

#headerTrackDetail h1 {
  width: 12em;
  font-weight: bold;
}

#actions {
  margin-top: 1em !important;
}

#actions #playButton {
  margin-right: 1em;
}

#headerTrackDetail p {
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.99;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(180px);
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

