.optionsIcon {
  font-size: 1.6em;
  width: 1.4em;
}

ion-header {
  -webkit-app-region: drag;
}

#savedTracksDiv {
  animation-name: expandIn;
  animation-duration: 300ms;
  transform-origin: top;
}

#dropdownArrow {
  transform-origin: center;
  transform: rotate(90deg) translateX(-3px);
}

#searchToolbar {
  transform-origin: top;
  animation-name: expandIn;
  animation-duration: 300ms;
}

#desktopSavedListDiv {
  display: none;
}

ion-list-header ion-label {
  font-size: 2em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

#removeButton {
  margin-right: 10px;
}

@keyframes expandIn {
  from {
    opacity: 0;
    transform: scaleY(0)
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@media (min-width: 1200px) {
  #container {
    margin-left: 16em;
  }

  #savedTracksDiv {
    display: none;
  }

  #savedTracksDesktopDiv {
    animation-name: expandIn;
    animation-duration: 300ms;
    transform-origin: top;
    display: flex;
    flex-wrap: wrap;
  }

  #savedTracksDesktopDiv ion-card {
    width: 20em;
    height: 29em;
    display: flex;
    flex-direction: column;
  }

  #savedTracksDesktopDiv ion-card ion-card-title {
    height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #savedTracksDesktopDiv ion-card img {
    object-fit: cover;
  }

  #savedTracksDesktopDiv ion-card ion-card-content {
    flex-grow: 1;
    height: 2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  #savedTracksDesktopDiv ion-buttons {
    padding: 1em;
  }

  #savedHeader {
    display: none;
  }

  #desktopSavedListDiv {
    display: block;
  }

  #searchToolbar {
    padding-left: 16em;
  }
}
